body{
    background-color: #9B97A2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

p{
    margin-bottom: 7px;
}

p#score-el{
    margin-bottom: -6px;;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.both-players{
    display: flex;
    justify-content: space-evenly;
}

.hide{
    display: none !important;
}

.none{
    display: none !important;
}

.hide-first{
    display: none !important;
}

.pretty-button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.5s, transform 0.5s;
}

.pretty-button:hover {
    background-color: #0a8ce4; 
}

.modern-input {
    font-family: 'Arial', sans-serif; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px; 
    font-size: 16px; 
    outline: none; 
    transition: border-color 0.3s ease; 

    ::placeholder {
        color: #999; 
        font-style: italic;
    }

    &:hover, &:focus {
        border-color: #66afe9; 
    }
}

.choice{
    display: flex;
}

.result{
    display: flex;
    justify-content: center;
    text-align: center;
}

.winner-background{
    background-color: green;;
}

.looser-background{
    background-color: red;
}

.red{
    color: red;
}

.green{
    color: green
}

.black{
    color:black;
}

.winner-gameplan{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-section{
    width: 400px; 
    height: 400px; 
    background-image: url('images/winner.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-winner-is{
    margin-bottom: -15px;
}

.player-winner-text{
    text-align: center;
    margin-bottom: 114px;
    color: gold;
    margin-top: 20px;
}