html, body {
    height: 100%;
    margin: 0; 
}

body {
    background-color: #9B97A2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    position: relative;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

p{
    margin-bottom: 7px;
}

p#score-el{
    margin-bottom: -6px;;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.both-players{
    display: flex;
    justify-content: space-evenly;
}

.hide{
    display: none !important;
}

.none{
    display: none !important;
}

.hide-first{
    display: none !important;
}

.pretty-button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.5s, transform 0.5s;
}

.pretty-button:hover {
    background-color: #0a8ce4; 
}

.modern-input {
    font-family: 'Arial', sans-serif; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px; 
    font-size: 16px; 
    outline: none; 
    transition: border-color 0.3s ease; 

    ::placeholder {
        color: #999; 
        font-style: italic;
    }

    &:hover, &:focus {
        border-color: #66afe9; 
    }
}

.choice{
    display: flex;
}

.result{
    display: flex;
    justify-content: center;
    text-align: center;
}

.winner-background{
    background-color: green;;
}

.looser-background{
    background-color: red;
}

.red{
    color: red;
}

.green{
    color: green
}

.black{
    color:black;
}

.winner-gameplan{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-section{
    width: 400px; 
    height: 400px; 
    background-image: url('images/winner.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-winner-is{
    margin-bottom: -15px;
}

.player-winner-text{
    text-align: center;
    margin-bottom: 114px;
    color: gold;
    margin-top: 20px;
}

.player-1-div-el{
    text-align: center;
    border-radius: 12px;
}

.player-2-div-el{
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 12px;
}

.all-annuler{
    width: 20px;
    height: 20px;
    color:black;
    margin-left:5px;
    margin-top: 10px;
}

.annuler-div{
    position: absolute;
    bottom: 20px;
    right:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.summary-div{
    position: absolute;
    bottom: 20px;
    left:20px;
    margin-bottom: 20px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 676px) {
    .pretty-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .modern-input {
        font-size: 14px;
        padding: 8px;
    }

    .choice-button {
        padding: 5px; /* Add padding to space out the buttons */
    }

    .choice-img {
        width: 40px; /* Smaller width */
        height: 40px; /* Smaller height */
    }

    .winner-section {
        width: 300px;
        height: 300px;
    }

    .player-winner-text {
        font-size: 18px;
        margin-bottom: 80px;
    }

    .player-1-div-el, .player-2-div-el {
        font-size: 16px;
    }
}